* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: #fce7c8;
}

h1 {
  font-size: 4em;
  font-weight: 500;
  color: #f0a04b;
}

h2 {
  font-size: 3em;
  font-weight: 500;
  color: #b1c29e;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2em;
}

.btn {
  margin: 0 0.5em;
  font-size: 2.5em;
  padding: 1em 2em;
  background-color: #f0a04b;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fada7a;
  transition: ease-in 200ms all;
}

.btn:hover {
  background-color: #fada7a;
}

select,
input {
  width: 100%;
  outline: 0;
  background-color: #fada7a;
  padding: 1em 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid #fada7a;
  transition: ease-in 200ms all;
}

select:hover {
  cursor: pointer;
  border: 1px solid #f0a04b;
}

input:focus {
  border: 2px solid #f0a04b;
}
