<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Requistion</title>
  </head>
  <body>
    <h1>Premija</h1>
    <form action="" method="post">
      <h2>Sg2:</h2>
      <input type="text" name="sg2" />
      <h2>Sg3:</h2>
      <input type="text" name="sg3" />
      <h2>Sg4:</h2>
      <input type="text" name="sg4" />
      <h2>Sg5:</h2>
      <input type="text" name="sg5" />
      <h2>Wings:</h2>
      <input type="text" name="2ings" />
    </form>
  </body>
</html>
