<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Requistion</title>
  </head>
  <body>
    <h1>Premija</h1>
    <form action="" method="post">
      <h2>Unesite radnju:</h2>
      <select id="local">
        <option value="sg2">Sg2</option>
        <option value="sg3">Sg3</option>
        <option value="sg4">Sg4</option>
        <option value="sg5">Sg5</option>
        <option value="wings">Wings</option>
      </select>
      <h2>Unesite artikl:</h2>

      <select id="artikl">
        <option value="majonez">Majonez</option>
        <option value="pavlaka">Pavlaka</option>
        <option value="kecap">Kecap</option>
        <option value="tortilje">Tortilje</option>
        <option value="brasno">Brasno</option>
        <option value="pomfrit">Pomfrit</option>
        <option value="chillito">Chillito</option>
        <option value="salvete">Salvete</option>
        <option value="ulje">Ulje</option>
        <option value="krastavica">Krastavica</option>
        <option value="cola">Coca cola</option>
      </select>
      <h2>Unesite kolicinu:</h2>
      <input type="number" name="kolicina" />
    </form>
  </body>
</html>
