<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Requistion</title>
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="static/premija.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="input-fields">
        <h1>Premija</h1>
        <form action="" method="post">
          <h2>Unesite radnju:</h2>
          <select name="local" id="local">
            <option selected value="sg2 (yu-radio)">Sg2 (YU-Radio)</option>
            <option value="sg3 (vrh carsije)">Sg3 (Vrh Carsije)</option>
            <option value="sg4 (centar)">Sg4 (Centar)</option>
            <option value="sg5 (bolnice)">Sg5 (Bolnice)</option>
            <option value="wings (prvomajska)">Wings (Prvomajska)</option>
          </select>

          <h2>Unesite kolicinu:</h2>
          <input
            type="number"
            name="kolicina"
            min="50"
            max="500"
            placeholder="Unesite kolicinu:"
            required
          />
          <br />
          <br />
          <button class="btn" type="submit">Dodaj</button>
        </form>
      </div>
      <div class="output">
        <h2>Za sutra:</h2>
        <div class="articles">
          {% for local,value in bread.items(): %}
          <h3>{{ local }}:</h3>

          <p>{{value}} kiflica</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
